@{
    ViewData["Title"] = "Index";
}

<button class="mb-3 btn btn-primary " onclick="ExportarExcel()"> Exportar Excel </button>
<div id="divPersona">
</div> 

<script src="~/js/generic.js"></script>

<script src="~/js/persona.js"></script>

